
{{#if Name}}
<center>
    <img src="/uploads/{{file}}" width="200" height="200">
    <table class="striped">
    <thead>
        <tr>
            <th>Name</th>
            <td>{{Name}}</td>
        </tr>
         <tr>
            <th>Age</th>
            <td>{{Age}}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{{Gender}}</td>
        </tr>
    </thead>
</table>
</center>

{{else}}

    <p>Nos tory</p>
{{/if}}